{%extends "blog/base.html" %}
{% block content %}
<div class="Post_Block container">
    <div class="row">
        <div class="col-md-12 col-md-6 col-sm-4 ">
            <div id = "tag" class="panel-heading">Enter New Password</div>
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <ul style=" display: table;margin: 0 auto;list-style-type: none;">
                    {% csrf_token %}
                    {{form.as_p}}
                    
                    <br>
                    <button id = "bt" type="submit" class="btn btn-dark" >Confirmed</button>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}