{%extends "blog/base.html" %}
{% block content %}
<div class="Post_Block container col-md-6 col-md-4 col-sm-4" style="background: rgb(94, 199, 231); margin-top: 20px;">
    <form method="post">
        <ul style=" display: table;margin:10px auto;list-style-type: none;">
            <label id = "input_label" style="align-items: center;">Email</label>
            <br>
            {% csrf_token %}
            {{form.email}}
            <br><br>
            <button id = "bt" type="submit" class="btn btn-primary btn-block">Send Email</button>
        </ul>
    </form>
</div>

{%endblock%}