
{%extends "blog/base.html" %}
{% block content %}
<!-- {% block extracss %}
<style>
    
</style>
{% endblock %} -->
<section class="user">
    <div class="user_options-container">
      <div class="user_options-text">
        <div class="user_options-unregistered">
          <h2 class="user_unregistered-title">Don't have an account?</h2>
          <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_unregistered-signup" id="signup-button">Sign up</button>
        </div>
  
        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_registered-login" id="login-button">Login</button>
        </div>
      </div>
      
      <div class="user_options-forms" id="user_options-forms">
        <div class="user_forms-login">
          <h2 class="forms_title">Login</h2>
          <form class="forms_form">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" required />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot">Forgot password?</button>
              <input type="submit" value="Log In" class="forms_buttons-action">
            </div>
          </form>
        </div>
        <div class="user_forms-signup">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="text" placeholder="Full Name" class="forms_field-input" required />
              </div>
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" required />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" required />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <input type="submit" value="Sign up" class="forms_buttons-action">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>






<div class="offset-md-3 col-md-6 col-sm-12">
<div id="login" class="container" >
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}
    <div  class="row justify-content-center align-items-center">
        <div id="login-box" class="col-md-6 col-sm-12 ">
            <form id="login-form" class="form" method="POST" action="{% url 'login' %}">
                <h3 class="text-left text-info" style="margin-top: 30px;">Login</h3>
                    <div class="form-group">
                        {% csrf_token %}
          
                              <label for="username" class="text-info">Username</label><br>
                              <div type="text" name="username" id="username">{{form.username}}</div>
                          </div>
                          <div class="form-group">
                              <label for="username" class="text-info">Password</label><br>
                              <div type="text" name="username" id="username">{{form.password}}</div>
                          </div>
                          <input type="submit" class="btn btn-dark" data-toggle="button" aria-pressed="false" value="Login">
                         <a class="btn btn-dark" data-toggle="button" aria-pressed="false"  href="{% url 'password_reset' %}" style="color:white; text-decoration:none;"> Forgot Password</a>
                      </form>
                  </div>
              </div>
  </div>
</div>
{%endblock%}

