body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background_img.jpg');
  /* background-size: cover; */
  /* height: 100vh; */
  font-family: 'Montserrat', sans-serif;
}















/* 
#base{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    padding-top: 0px;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 20px;
  }
  .nav-link
  {
    color: white !important;
  }

  ul li a:hover{
          display: block;
        text-decoration: none;
        color: #aaa;
        font-weight: 400;
        margin: 0 10px;
          transition: all 1s;
      } */